# Lambda calculus

The most obvious place where we encounter lambda expressions in Python is with their 'anonymous functions', so called because you do not have to name these functions. For example, the following is an anonymous function that doubles its input:

In [1]:
lambda x: x*2

The defining of the above function corresponds with the 'lambda abstraction rule' of lambda calculus. We have given this function no input, so we get no output either. Furthermore, since the function is anonymous, we cannot reference its name and invoke it later. Instead, we should immediately supply the lambda expression with some input:

In [2]:
(lambda x: x*2)(6)

12

Python will then produce the output of this function applied to the input (corresponding to the 'application rule'). We do not need to limit ourselves to one parameter either, as this exponential growth formula shows:

In [3]:
(lambda x, g, t: x*g**t)(2,3,3)

54

we actually *can* assign a variable name to a lambda expression if we want, in which case it is just an alternative syntax for defining a function. The following two are identical functions:

In [4]:
def double_a(x):
    return x*2

double_b = lambda x: x*2

double_b(4)

8

In general, the 'normal' way is preferred. A great way to use lambda expressions is to have a regular function (that wants some argument *n*) **return** a lambda expression that involves *n*. Think of the regular function as a template for producing a family of lambda expressions depending on *n*

### Exercise 1
Define a function with at least 1 parameter that returns a lambda expression with also at least 1 parameter and uses the argument of the function. Show, with a few examples, what the function does for different inputs for the function (and the lambda expression).

In [8]:
lambda x: x**3 + 1

In [10]:
(lambda x: x**3 + 1)(3)

28

In [11]:
(lambda x: x**3 + 1)(100)

1000001

Another frequent use is for manipulating iterable data objects (like lists, dataframes, dictionaries, etc), such as with the .sort() method, or the map() and filter() functions. The map function applies an operation to every element of the data  object. For both map() and filter(), you need to wrap them with list() to actually return the mapped or filtered list; so it takes the form of *list(filter(lambda x: ..., list1))*.

### Exercise 2
Use lambda expressions and the above-mentioned functions to manipulate the data (a list of dictionaries) below as follows:
* sort the data by country
* return a filtered list that has only those entries whose 'name' starts with an A or a B
* return a filtered list that has only those entries whose 'number' is not divisible by 2 or 3
* return a list with the same values as the original, except that each 'number' entry has been doubled

In [22]:
data = [{'country': "Ukraine",'number': "3",'name': "Derek Bolton"},{'country': "United States",'number': "3",'name': "Britanney Durham"},{'country': "China",'number': "7",'name': "Rachel Dickson"},{'country': "India",'number': "4",'name': "Oren Dominguez"},{'country': "Norway",'number': "5",'name': "Keane Dean"},{'country': "New Zealand",'number': "8",'name': "Tarik Coleman"},{'country': "South Africa",'number': "3",'name': "Uriel Greene"},{'country': "China",'number': "6",'name': "Minerva Shields"},{'country': "Norway",'number': "7",'name': "Robin Butler"},{'country': "Germany",'number': "7",'name': "Stacey Nixon"},{'country': "South Africa",'number': "4",'name': "Glenna Clark"},{'country': "Australia",'number': "7",'name': "Adena Smith"},{'country': "Italy",'number': "2",'name': "Ronan Ellis"},{'country': "Chile",'number': "1",'name': "Ignatius Guy"},{'country': "Belgium",'number': "8",'name': "Barclay Lindsey"},{'country': "Peru",'number': "2",'name': "Fuller Burris"},{'country': "Ukraine",'number': "2",'name': "Kylan Witt"},{'country': "United States",'number': "1",'name': "Kitra Willis"},{'country': "Austria",'number': "6",'name': "Indigo Dillard"},{'country': "Chile",'number': "3",'name': "Benedict Powell"},{'country': "Russian Federation",'number': "9",'name': "Duncan Ware"},{'country': "Peru",'number': "7",'name': "Abra Lewis"},{'country': "China",'number': "5",'name': "Callie Cole"},{'country': "United States",'number': "0",'name': "Cedric Gates"},{'country': "Ukraine",'number': "7",'name': "Malcolm Cox"},{'country': "Brazil",'number': "6",'name': "Connor Potts"},{'country': "Sweden",'number': "7",'name': "Lyle Nguyen"},{'country': "United States",'number': "3",'name': "Rudyard Barrett"},{'country': "Costa Rica",'number': "2",'name': "Judah Brock"},{'country': "South Korea",'number': "2",'name': "Lucius Snider"},{'country': "China",'number': "1",'name': "Cassady Mcdaniel"},{'country': "Singapore",'number': "2",'name': "Allegra Baird"},{'country': "Philippines",'number': "4",'name': "Omar Burgess"},{'country': "Turkey",'number': "7",'name': "Kenyon Rosa"},{'country': "Poland",'number': "6",'name': "Yen Sargent"},{'country': "China",'number': "3",'name': "Rashad Grimes"},{'country': "Spain",'number': "7",'name': "Tamekah Gutierrez"},{'country': "Ukraine",'number': "3",'name': "Liberty Mathis"},{'country': "Mexico",'number': "3",'name': "Rylee Sharpe"},{'country': "Mexico",'number': "3",'name': "Brynn Hinton"},{'country': "Sweden",'number': "2",'name': "Quinn Berg"},{'country': "Philippines",'number': "9",'name': "Simone Tanner"},{'country': "Ireland",'number': "2",'name': "Simon Giles"},{'country': "United Kingdom",'number': "10",'name': "Zenia Coffey"},{'country': "Mexico",'number': "2",'name': "Yael Glass"},{'country': "Colombia",'number': "5",'name': "Inga Russell"},{'country': "United Kingdom",'number': "1",'name': "Brendan Pearson"},{'country': "Austria",'number': "3",'name': "Shafira Parks"},{'country': "India",'number': "9",'name': "Dante Charles"},{'country': "Sweden",'number': "8",'name': "Kylee Good"},{'country': "Canada",'number': "1",'name': "September Bryan"},{'country': "Costa Rica",'number': "5",'name': "Hakeem Flowers"},{'country': "Peru",'number': "0",'name': "Ross Moss"},{'country': "Spain",'number': "8",'name': "Bo Hardy"},{'country': "Austria",'number': "2",'name': "Davis Cardenas"},{'country': "Ireland",'number': "2",'name': "Lane Chandler"},{'country': "Ukraine",'number': "3",'name': "Mohammad Holder"},{'country': "Vietnam",'number': "8",'name': "Jonas Bryan"},{'country': "Costa Rica",'number': "0",'name': "Eve Rivas"},{'country': "Australia",'number': "4",'name': "Elton Collins"},{'country': "Norway",'number': "8",'name': "Cain Fields"},{'country': "Vietnam",'number': "0",'name': "Iliana Daniels"},{'country': "Mexico",'number': "7",'name': "Rajah Robles"},{'country': "Australia",'number': "3",'name': "Charity Conner"},{'country': "Chile",'number': "5",'name': "Kay Parsons"},{'country': "Ireland",'number': "4",'name': "Rachel Howell"},{'country': "Singapore",'number': "3",'name': "Walter Forbes"},{'country': "Colombia",'number': "1",'name': "Gray Hayden"},{'country': "Netherlands",'number': "9",'name': "Ivana Compton"},{'country': "South Korea",'number': "8",'name': "Jamal Kelly"},{'country': "Pakistan",'number': "0",'name': "Robert Cunningham"},{'country': "Spain",'number': "4",'name': "Ignatius Newman"},{'country': "Canada",'number': "8",'name': "Gisela Glenn"},{'country': "Vietnam",'number': "1",'name': "Eliana Nicholson"},{'country': "Ukraine",'number': "4",'name': "Christen James"},{'country': "France",'number': "4",'name': "Devin Spears"},{'country': "Costa Rica",'number': "3",'name': "Phelan Hodges"},{'country': "Chile",'number': "4",'name': "Stewart Coffey"},{'country': "Singapore",'number': "6",'name': "Kasper Justice"},{'country': "Italy",'number': "7",'name': "Xanthus Wilkerson"},{'country': "Italy",'number': "6",'name': "Debra Melendez"},{'country': "Germany",'number': "6",'name': "Galvin Morrison"},{'country': "Norway",'number': "10",'name': "Britanney Daniels"},{'country': "Italy",'number': "8",'name': "Steel Cantu"},{'country': "Mexico",'number': "7",'name': "Graham Ewing"},{'country': "China",'number': "3",'name': "Maia Dunn"},{'country': "Australia",'number': "3",'name': "Violet Thornton"},{'country': "Canada",'number': "5",'name': "Cleo Cardenas"},{'country': "United States",'number': "8",'name': "Castor Bowen"},{'country': "Australia",'number': "8",'name': "Wyatt Carey"},{'country': "Philippines",'number': "5",'name': "Paul Padilla"},{'country': "Costa Rica",'number': "8",'name': "Germane Welch"},{'country': "South Korea",'number': "4",'name': "Zephr Deleon"},{'country': "Russian Federation",'number': "9",'name': "Lionel Armstrong"},{'country': "Brazil",'number': "6",'name': "Eleanor Solomon"},{'country': "Nigeria",'number': "7",'name': "Rachel Woods"},{'country': "Indonesia",'number': "9",'name': "Philip Taylor"},{'country': "Brazil",'number': "7",'name': "Lilah Shelton"},{'country': "United Kingdom",'number': "3",'name': "Gillian Harrington"},{'country': "Mexico",'number': "3",'name': "Odessa Sutton"}]

In [25]:
# sort the data by country

data.sort(key=lambda x: x['country'])
data

[{'country': 'Australia', 'number': '7', 'name': 'Adena Smith'},
 {'country': 'Australia', 'number': '4', 'name': 'Elton Collins'},
 {'country': 'Australia', 'number': '3', 'name': 'Charity Conner'},
 {'country': 'Australia', 'number': '3', 'name': 'Violet Thornton'},
 {'country': 'Australia', 'number': '8', 'name': 'Wyatt Carey'},
 {'country': 'Austria', 'number': '6', 'name': 'Indigo Dillard'},
 {'country': 'Austria', 'number': '3', 'name': 'Shafira Parks'},
 {'country': 'Austria', 'number': '2', 'name': 'Davis Cardenas'},
 {'country': 'Belgium', 'number': '8', 'name': 'Barclay Lindsey'},
 {'country': 'Brazil', 'number': '6', 'name': 'Connor Potts'},
 {'country': 'Brazil', 'number': '6', 'name': 'Eleanor Solomon'},
 {'country': 'Brazil', 'number': '7', 'name': 'Lilah Shelton'},
 {'country': 'Canada', 'number': '1', 'name': 'September Bryan'},
 {'country': 'Canada', 'number': '8', 'name': 'Gisela Glenn'},
 {'country': 'Canada', 'number': '5', 'name': 'Cleo Cardenas'},
 {'country': 'Chile', 'number': '1', 'name': 'Ignatius Guy'},
 {'country': 'Chile', 'number': '3', 'name': 'Benedict Powell'},
 {'country': 'Chile', 'number': '5', 'name': 'Kay Parsons'},
 {'country': 'Chile', 'number': '4', 'name': 'Stewart Coffey'},
 {'country': 'China', 'number': '7', 'name': 'Rachel Dickson'},
 {'country': 'China', 'number': '6', 'name': 'Minerva Shields'},
 {'country': 'China', 'number': '5', 'name': 'Callie Cole'},
 {'country': 'China', 'number': '1', 'name': 'Cassady Mcdaniel'},
 {'country': 'China', 'number': '3', 'name': 'Rashad Grimes'},
 {'country': 'China', 'number': '3', 'name': 'Maia Dunn'},
 {'country': 'Colombia', 'number': '5', 'name': 'Inga Russell'},
 {'country': 'Colombia', 'number': '1', 'name': 'Gray Hayden'},
 {'country': 'Costa Rica', 'number': '2', 'name': 'Judah Brock'},
 {'country': 'Costa Rica', 'number': '5', 'name': 'Hakeem Flowers'},
 {'country': 'Costa Rica', 'number': '0', 'name': 'Eve Rivas'},
 {'country': 'Costa Rica', 'number': '3', 'name': 'Phelan Hodges'},
 {'country': 'Costa Rica', 'number': '8', 'name': 'Germane Welch'},
 {'country': 'France', 'number': '4', 'name': 'Devin Spears'},
 {'country': 'Germany', 'number': '7', 'name': 'Stacey Nixon'},
 {'country': 'Germany', 'number': '6', 'name': 'Galvin Morrison'},
 {'country': 'India', 'number': '4', 'name': 'Oren Dominguez'},
 {'country': 'India', 'number': '9', 'name': 'Dante Charles'},
 {'country': 'Indonesia', 'number': '9', 'name': 'Philip Taylor'},
 {'country': 'Ireland', 'number': '2', 'name': 'Simon Giles'},
 {'country': 'Ireland', 'number': '2', 'name': 'Lane Chandler'},
 {'country': 'Ireland', 'number': '4', 'name': 'Rachel Howell'},
 {'country': 'Italy', 'number': '2', 'name': 'Ronan Ellis'},
 {'country': 'Italy', 'number': '7', 'name': 'Xanthus Wilkerson'},
 {'country': 'Italy', 'number': '6', 'name': 'Debra Melendez'},
 {'country': 'Italy', 'number': '8', 'name': 'Steel Cantu'},
 {'country': 'Mexico', 'number': '3', 'name': 'Rylee Sharpe'},
 {'country': 'Mexico', 'number': '3', 'name': 'Brynn Hinton'},
 {'country': 'Mexico', 'number': '2', 'name': 'Yael Glass'},
 {'country': 'Mexico', 'number': '7', 'name': 'Rajah Robles'},
 {'country': 'Mexico', 'number': '7', 'name': 'Graham Ewing'},
 {'country': 'Mexico', 'number': '3', 'name': 'Odessa Sutton'},
 {'country': 'Netherlands', 'number': '9', 'name': 'Ivana Compton'},
 {'country': 'New Zealand', 'number': '8', 'name': 'Tarik Coleman'},
 {'country': 'Nigeria', 'number': '7', 'name': 'Rachel Woods'},
 {'country': 'Norway', 'number': '5', 'name': 'Keane Dean'},
 {'country': 'Norway', 'number': '7', 'name': 'Robin Butler'},
 {'country': 'Norway', 'number': '8', 'name': 'Cain Fields'},
 {'country': 'Norway', 'number': '10', 'name': 'Britanney Daniels'},
 {'country': 'Pakistan', 'number': '0', 'name': 'Robert Cunningham'},
 {'country': 'Peru', 'number': '2', 'name': 'Fuller Burris'},
 {'country': 'Peru', 'number': '7', 'name': 'Abra Lewis'},
 {'country': 'Peru', 'number': '0', 'name': 'Ross Moss'},
 {'country': 'Philippines', 'number': '4', 'name': 'Omar Burgess'},
 {'country': 'Philippines', 'number': '9', 'name': 'Simone Tanner'},
 {'country': 'Philippines', 'number': '5', 'name': 'Paul Padilla'},
 {'country': 'Poland', 'number': '6', 'name': 'Yen Sargent'},
 {'country': 'Russian Federation', 'number': '9', 'name': 'Duncan Ware'},
 {'country': 'Russian Federation', 'number': '9', 'name': 'Lionel Armstrong'},
 {'country': 'Singapore', 'number': '2', 'name': 'Allegra Baird'},
 {'country': 'Singapore', 'number': '3', 'name': 'Walter Forbes'},
 {'country': 'Singapore', 'number': '6', 'name': 'Kasper Justice'},
 {'country': 'South Africa', 'number': '3', 'name': 'Uriel Greene'},
 {'country': 'South Africa', 'number': '4', 'name': 'Glenna Clark'},
 {'country': 'South Korea', 'number': '2', 'name': 'Lucius Snider'},
 {'country': 'South Korea', 'number': '8', 'name': 'Jamal Kelly'},
 {'country': 'South Korea', 'number': '4', 'name': 'Zephr Deleon'},
 {'country': 'Spain', 'number': '7', 'name': 'Tamekah Gutierrez'},
 {'country': 'Spain', 'number': '8', 'name': 'Bo Hardy'},
 {'country': 'Spain', 'number': '4', 'name': 'Ignatius Newman'},
 {'country': 'Sweden', 'number': '7', 'name': 'Lyle Nguyen'},
 {'country': 'Sweden', 'number': '2', 'name': 'Quinn Berg'},
 {'country': 'Sweden', 'number': '8', 'name': 'Kylee Good'},
 {'country': 'Turkey', 'number': '7', 'name': 'Kenyon Rosa'},
 {'country': 'Ukraine', 'number': '3', 'name': 'Derek Bolton'},
 {'country': 'Ukraine', 'number': '2', 'name': 'Kylan Witt'},
 {'country': 'Ukraine', 'number': '7', 'name': 'Malcolm Cox'},
 {'country': 'Ukraine', 'number': '3', 'name': 'Liberty Mathis'},
 {'country': 'Ukraine', 'number': '3', 'name': 'Mohammad Holder'},
 {'country': 'Ukraine', 'number': '4', 'name': 'Christen James'},
 {'country': 'United Kingdom', 'number': '10', 'name': 'Zenia Coffey'},
 {'country': 'United Kingdom', 'number': '1', 'name': 'Brendan Pearson'},
 {'country': 'United Kingdom', 'number': '3', 'name': 'Gillian Harrington'},
 {'country': 'United States', 'number': '3', 'name': 'Britanney Durham'},
 {'country': 'United States', 'number': '1', 'name': 'Kitra Willis'},
 {'country': 'United States', 'number': '0', 'name': 'Cedric Gates'},
 {'country': 'United States', 'number': '3', 'name': 'Rudyard Barrett'},
 {'country': 'United States', 'number': '8', 'name': 'Castor Bowen'},
 {'country': 'Vietnam', 'number': '8', 'name': 'Jonas Bryan'},
 {'country': 'Vietnam', 'number': '0', 'name': 'Iliana Daniels'},
 {'country': 'Vietnam', 'number': '1', 'name': 'Eliana Nicholson'}]

In [36]:
# return a filtered list that has only those entries whose 'name' starts with an A or a B

filt2 = list(filter(lambda x: x['name'].startswith('A') or x['name'].startswith('B'), data))
filt2

[{'country': 'Australia', 'number': '7', 'name': 'Adena Smith'},
 {'country': 'Belgium', 'number': '8', 'name': 'Barclay Lindsey'},
 {'country': 'Chile', 'number': '3', 'name': 'Benedict Powell'},
 {'country': 'Mexico', 'number': '3', 'name': 'Brynn Hinton'},
 {'country': 'Norway', 'number': '10', 'name': 'Britanney Daniels'},
 {'country': 'Peru', 'number': '7', 'name': 'Abra Lewis'},
 {'country': 'Singapore', 'number': '2', 'name': 'Allegra Baird'},
 {'country': 'Spain', 'number': '8', 'name': 'Bo Hardy'},
 {'country': 'United Kingdom', 'number': '1', 'name': 'Brendan Pearson'},
 {'country': 'United States', 'number': '3', 'name': 'Britanney Durham'}]

In [37]:
# return a filtered list that has only those entries whose 'number' is not divisible by 2 or 3

filt3 =list(filter(lambda x: (int(x['number']) %2!=0) and (int(x['number'])%3!=0), data))
filt3

[{'country': 'Australia', 'number': '7', 'name': 'Adena Smith'},
 {'country': 'Brazil', 'number': '7', 'name': 'Lilah Shelton'},
 {'country': 'Canada', 'number': '1', 'name': 'September Bryan'},
 {'country': 'Canada', 'number': '5', 'name': 'Cleo Cardenas'},
 {'country': 'Chile', 'number': '1', 'name': 'Ignatius Guy'},
 {'country': 'Chile', 'number': '5', 'name': 'Kay Parsons'},
 {'country': 'China', 'number': '7', 'name': 'Rachel Dickson'},
 {'country': 'China', 'number': '5', 'name': 'Callie Cole'},
 {'country': 'China', 'number': '1', 'name': 'Cassady Mcdaniel'},
 {'country': 'Colombia', 'number': '5', 'name': 'Inga Russell'},
 {'country': 'Colombia', 'number': '1', 'name': 'Gray Hayden'},
 {'country': 'Costa Rica', 'number': '5', 'name': 'Hakeem Flowers'},
 {'country': 'Germany', 'number': '7', 'name': 'Stacey Nixon'},
 {'country': 'Italy', 'number': '7', 'name': 'Xanthus Wilkerson'},
 {'country': 'Mexico', 'number': '7', 'name': 'Rajah Robles'},
 {'country': 'Mexico', 'number': '7', 'name': 'Graham Ewing'},
 {'country': 'Nigeria', 'number': '7', 'name': 'Rachel Woods'},
 {'country': 'Norway', 'number': '5', 'name': 'Keane Dean'},
 {'country': 'Norway', 'number': '7', 'name': 'Robin Butler'},
 {'country': 'Peru', 'number': '7', 'name': 'Abra Lewis'},
 {'country': 'Philippines', 'number': '5', 'name': 'Paul Padilla'},
 {'country': 'Spain', 'number': '7', 'name': 'Tamekah Gutierrez'},
 {'country': 'Sweden', 'number': '7', 'name': 'Lyle Nguyen'},
 {'country': 'Turkey', 'number': '7', 'name': 'Kenyon Rosa'},
 {'country': 'Ukraine', 'number': '7', 'name': 'Malcolm Cox'},
 {'country': 'United Kingdom', 'number': '1', 'name': 'Brendan Pearson'},
 {'country': 'United States', 'number': '1', 'name': 'Kitra Willis'},
 {'country': 'Vietnam', 'number': '1', 'name': 'Eliana Nicholson'}]

In [38]:
# return a list with the same values as the original, except that each 'number' entry has been doubled

double = list(map(lambda x: {'name': x['name'], 'country': x['country'], 'number': x['number'] * 2}, data))
double

[{'name': 'Adena Smith', 'country': 'Australia', 'number': '77'},
 {'name': 'Elton Collins', 'country': 'Australia', 'number': '44'},
 {'name': 'Charity Conner', 'country': 'Australia', 'number': '33'},
 {'name': 'Violet Thornton', 'country': 'Australia', 'number': '33'},
 {'name': 'Wyatt Carey', 'country': 'Australia', 'number': '88'},
 {'name': 'Indigo Dillard', 'country': 'Austria', 'number': '66'},
 {'name': 'Shafira Parks', 'country': 'Austria', 'number': '33'},
 {'name': 'Davis Cardenas', 'country': 'Austria', 'number': '22'},
 {'name': 'Barclay Lindsey', 'country': 'Belgium', 'number': '88'},
 {'name': 'Connor Potts', 'country': 'Brazil', 'number': '66'},
 {'name': 'Eleanor Solomon', 'country': 'Brazil', 'number': '66'},
 {'name': 'Lilah Shelton', 'country': 'Brazil', 'number': '77'},
 {'name': 'September Bryan', 'country': 'Canada', 'number': '11'},
 {'name': 'Gisela Glenn', 'country': 'Canada', 'number': '88'},
 {'name': 'Cleo Cardenas', 'country': 'Canada', 'number': '55'},
 {'name': 'Ignatius Guy', 'country': 'Chile', 'number': '11'},
 {'name': 'Benedict Powell', 'country': 'Chile', 'number': '33'},
 {'name': 'Kay Parsons', 'country': 'Chile', 'number': '55'},
 {'name': 'Stewart Coffey', 'country': 'Chile', 'number': '44'},
 {'name': 'Rachel Dickson', 'country': 'China', 'number': '77'},
 {'name': 'Minerva Shields', 'country': 'China', 'number': '66'},
 {'name': 'Callie Cole', 'country': 'China', 'number': '55'},
 {'name': 'Cassady Mcdaniel', 'country': 'China', 'number': '11'},
 {'name': 'Rashad Grimes', 'country': 'China', 'number': '33'},
 {'name': 'Maia Dunn', 'country': 'China', 'number': '33'},
 {'name': 'Inga Russell', 'country': 'Colombia', 'number': '55'},
 {'name': 'Gray Hayden', 'country': 'Colombia', 'number': '11'},
 {'name': 'Judah Brock', 'country': 'Costa Rica', 'number': '22'},
 {'name': 'Hakeem Flowers', 'country': 'Costa Rica', 'number': '55'},
 {'name': 'Eve Rivas', 'country': 'Costa Rica', 'number': '00'},
 {'name': 'Phelan Hodges', 'country': 'Costa Rica', 'number': '33'},
 {'name': 'Germane Welch', 'country': 'Costa Rica', 'number': '88'},
 {'name': 'Devin Spears', 'country': 'France', 'number': '44'},
 {'name': 'Stacey Nixon', 'country': 'Germany', 'number': '77'},
 {'name': 'Galvin Morrison', 'country': 'Germany', 'number': '66'},
 {'name': 'Oren Dominguez', 'country': 'India', 'number': '44'},
 {'name': 'Dante Charles', 'country': 'India', 'number': '99'},
 {'name': 'Philip Taylor', 'country': 'Indonesia', 'number': '99'},
 {'name': 'Simon Giles', 'country': 'Ireland', 'number': '22'},
 {'name': 'Lane Chandler', 'country': 'Ireland', 'number': '22'},
 {'name': 'Rachel Howell', 'country': 'Ireland', 'number': '44'},
 {'name': 'Ronan Ellis', 'country': 'Italy', 'number': '22'},
 {'name': 'Xanthus Wilkerson', 'country': 'Italy', 'number': '77'},
 {'name': 'Debra Melendez', 'country': 'Italy', 'number': '66'},
 {'name': 'Steel Cantu', 'country': 'Italy', 'number': '88'},
 {'name': 'Rylee Sharpe', 'country': 'Mexico', 'number': '33'},
 {'name': 'Brynn Hinton', 'country': 'Mexico', 'number': '33'},
 {'name': 'Yael Glass', 'country': 'Mexico', 'number': '22'},
 {'name': 'Rajah Robles', 'country': 'Mexico', 'number': '77'},
 {'name': 'Graham Ewing', 'country': 'Mexico', 'number': '77'},
 {'name': 'Odessa Sutton', 'country': 'Mexico', 'number': '33'},
 {'name': 'Ivana Compton', 'country': 'Netherlands', 'number': '99'},
 {'name': 'Tarik Coleman', 'country': 'New Zealand', 'number': '88'},
 {'name': 'Rachel Woods', 'country': 'Nigeria', 'number': '77'},
 {'name': 'Keane Dean', 'country': 'Norway', 'number': '55'},
 {'name': 'Robin Butler', 'country': 'Norway', 'number': '77'},
 {'name': 'Cain Fields', 'country': 'Norway', 'number': '88'},
 {'name': 'Britanney Daniels', 'country': 'Norway', 'number': '1010'},
 {'name': 'Robert Cunningham', 'country': 'Pakistan', 'number': '00'},
 {'name': 'Fuller Burris', 'country': 'Peru', 'number': '22'},
 {'name': 'Abra Lewis', 'country': 'Peru', 'number': '77'},
 {'name': 'Ross Moss', 'country': 'Peru', 'number': '00'},
 {'name': 'Omar Burgess', 'country': 'Philippines', 'number': '44'},
 {'name': 'Simone Tanner', 'country': 'Philippines', 'number': '99'},
 {'name': 'Paul Padilla', 'country': 'Philippines', 'number': '55'},
 {'name': 'Yen Sargent', 'country': 'Poland', 'number': '66'},
 {'name': 'Duncan Ware', 'country': 'Russian Federation', 'number': '99'},
 {'name': 'Lionel Armstrong', 'country': 'Russian Federation', 'number': '99'},
 {'name': 'Allegra Baird', 'country': 'Singapore', 'number': '22'},
 {'name': 'Walter Forbes', 'country': 'Singapore', 'number': '33'},
 {'name': 'Kasper Justice', 'country': 'Singapore', 'number': '66'},
 {'name': 'Uriel Greene', 'country': 'South Africa', 'number': '33'},
 {'name': 'Glenna Clark', 'country': 'South Africa', 'number': '44'},
 {'name': 'Lucius Snider', 'country': 'South Korea', 'number': '22'},
 {'name': 'Jamal Kelly', 'country': 'South Korea', 'number': '88'},
 {'name': 'Zephr Deleon', 'country': 'South Korea', 'number': '44'},
 {'name': 'Tamekah Gutierrez', 'country': 'Spain', 'number': '77'},
 {'name': 'Bo Hardy', 'country': 'Spain', 'number': '88'},
 {'name': 'Ignatius Newman', 'country': 'Spain', 'number': '44'},
 {'name': 'Lyle Nguyen', 'country': 'Sweden', 'number': '77'},
 {'name': 'Quinn Berg', 'country': 'Sweden', 'number': '22'},
 {'name': 'Kylee Good', 'country': 'Sweden', 'number': '88'},
 {'name': 'Kenyon Rosa', 'country': 'Turkey', 'number': '77'},
 {'name': 'Derek Bolton', 'country': 'Ukraine', 'number': '33'},
 {'name': 'Kylan Witt', 'country': 'Ukraine', 'number': '22'},
 {'name': 'Malcolm Cox', 'country': 'Ukraine', 'number': '77'},
 {'name': 'Liberty Mathis', 'country': 'Ukraine', 'number': '33'},
 {'name': 'Mohammad Holder', 'country': 'Ukraine', 'number': '33'},
 {'name': 'Christen James', 'country': 'Ukraine', 'number': '44'},
 {'name': 'Zenia Coffey', 'country': 'United Kingdom', 'number': '1010'},
 {'name': 'Brendan Pearson', 'country': 'United Kingdom', 'number': '11'},
 {'name': 'Gillian Harrington', 'country': 'United Kingdom', 'number': '33'},
 {'name': 'Britanney Durham', 'country': 'United States', 'number': '33'},
 {'name': 'Kitra Willis', 'country': 'United States', 'number': '11'},
 {'name': 'Cedric Gates', 'country': 'United States', 'number': '00'},
 {'name': 'Rudyard Barrett', 'country': 'United States', 'number': '33'},
 {'name': 'Castor Bowen', 'country': 'United States', 'number': '88'},
 {'name': 'Jonas Bryan', 'country': 'Vietnam', 'number': '88'},
 {'name': 'Iliana Daniels', 'country': 'Vietnam', 'number': '00'},
 {'name': 'Eliana Nicholson', 'country': 'Vietnam', 'number': '11'}]

# Recursive functions
### For any recursive function you write in this section, make clear (with comments) what your base cases and your recursive cases are.
Remember the example of the factorial function from the lecture. I will reproduce the Python code here:

In [ ]:
def factorial(x):
    if x == 0: # base case
        return 1
    else: # recursive case
        return (x * factorial(x-1))


num = 6
print("The factorial of", num, "is", factorial(num))

The other example in the lecture was concerned with Fibonacci numbers.
### Exercise 1
#### a
Implement this Fibonacci function **recursively** in Python:

In [25]:
def fib(n):
    if n == 1 or n == 2: # base case
        return 1
    else: # recursive case
        return fib(n-1)+fib(n-2)

print(fib(10))

55

#### b
Test your function on some higher numbers. What do you notice? What do you think is causing this?

In [ ]:
# The process will take a very long time. The reason is the call layer is very deep.

### Exercise 2
Write a recursive function that takes a list of integers as input and returns the maximum integer stored in the list. Thinking recursively, the maximum is either the first value in the list or the maximum of the rest of the list, whichever is larger. If the list only has 1 integer, then its maximum is this single value, naturally.

In [127]:
inputList = [3,5,22,7,6,305,100,78,11]

In [128]:
def recursive_max(list):
    
    if len(list) == 1:  # base case
        return list[0]
    
    else:  # recursive case
        list.pop(-2) if list[-1] >= list[-2] else list.pop()
        return recursive_max(list)

In [129]:
recursive_max(inputList)

305

### Exercise 3
Write a recursive function **letterCount** that takes a string and a character as input, and returns how many times the character occurs in the string. For example, it should have the following outputs:
* **letterCount**("Julian", 'i') = 1
* **letterCount**("Ceel", 'e') = 2
* **letterCount**("Joris", 'a') = 0

In [19]:
def letterCount(word,letter):
    
    n = 0
    def lc(word,letter,n):
        
        if len(word) > 0:
            if word[-1] == letter:
                n += 1
            word = word[0:len(word)-1]
            return lc(word,letter,n)
        
        else:
            return n
    
    return lc(word,letter,n)

In [20]:
letterCount("apple", 'p')

2

# Turing Machines
### The exercises for this section are made outside of this notebook. To hand in, either add a separate file with the code to your personal GitHub map, or copy-paste it into the box at the bottom of the notebook. Make sure to clearly label which code belongs to which exercise!
Go to turingmachine.io and open the 'binary increment' example at the top. Play around with it and try to understand what is happening.

### Exercise 1
Make the exercises for the binary increment that are printed below the code on the web page. I will reproduce them here for your convenience:

exercises

	# • Modify the machine to always halt on the leftmost digit
	#   (regardless of the number's length).
	#   Hint: add a state between carry and done.

	# • Make a machine that adds 2 instead of 1.
	#   Hint: 2 is '10' in binary, so the last digit is unaffected.
	#   Alternative hint: chain together two copies of the machine from
	#   the first exercise (renaming the states of the second copy).

	# • Make a machine to subtract 1.
	#   To simplify things, assume the input is always greater than 0.

### Exercise 2
Choose an example at the top (different from 'binary increment') that has complementery exercises and do those.

paste Turing Machine code here...